<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>

    <div class="order-history-detail">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 column">
                <f:render partial="Order/Show/Properties" arguments="{orderItem: orderItem}"/>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 column">
                <f:render partial="Order/Show/ServiceStatus" arguments="{orderItem: orderItem}"/>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 column">
                <f:render partial="Order/Show/Cart" arguments="{orderItem: orderItem}"/>
            </div>
        </div>

        <f:link.action action="list" class="btn btn-default">{f:translate(key: 'tx_cart.history_back')}</f:link.action>
    </div>
</f:section>
</html>