{namespace cart=Extcode\Cart\ViewHelpers}

<f:if condition="{product.beVariants}">
    <f:then>
        <f:for each="{product.beVariants}" as="variant">
            <div>
                <cart:format.currency>{variant.priceCalculated}</cart:format.currency> / {variant.priceMeasure} {variant.priceMeasureUnit} :
                <f:if condition="{variant.isMeasureUnitCompatibility}">
                    <f:then>
                        <cart:format.currency>{variant.calculatedBasePrice}</cart:format.currency> / 1 {product.basePriceMeasureUnit}
                    </f:then>
                    <f:else>
                        ---
                    </f:else>
                </f:if>
            </div>
        </f:for>
    </f:then>
    <f:else>
        <div>
            <cart:format.currency>{product.bestSpecialPrice}</cart:format.currency> / {product.priceMeasure} {product.priceMeasureUnit} :
            <f:if condition="{product.isMeasureUnitCompatibility}">
                <f:then>
                    <cart:format.currency>{product.calculatedBasePrice}</cart:format.currency> / 1 {product.basePriceMeasureUnit}
                </f:then>
                <f:else>
                    ---
                </f:else>
            </f:if>
        </div>
    </f:else>
</f:if>