{namespace cart=Extcode\Cart\ViewHelpers}

<f:if condition="{product.specialPrices}">
    <f:then>
        <cart:format.currency>{product.bestSpecialPrice}</cart:format.currency>
        bisher:
        <del>
            <cart:format.currency>{product.price}</cart:format.currency>
        </del>
        <strong>(Sie sparen: {product.bestSpecialPricePercentageDiscount} %)</strong>
    </f:then>
    <f:else>
        <f:if condition="{product.beVariants}">
            <f:then>
                <cart:format.currency>{product.beVariants.0.priceCalculated}</cart:format.currency>
            </f:then>
            <f:else>
                <cart:format.currency>{product.minPrice}</cart:format.currency>
            </f:else>
        </f:if>
    </f:else>
</f:if>