<table class="tx-cart-product">
    <f:debug>{cartProduct}</f:debug>
    <tr>
        <td>
            <f:translate key="tx_cart_domain_model_product.sku"/>
        </td>
        <td>
            {cartProduct.sku}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cart_domain_model_product.title"/>
        </td>
        <td>
            {cartProduct.title}
        </td>
    </tr>
    <f:if condition="{cartProduct.tags}">
        <tr>
            <td>
                <f:translate key="tx_cart_domain_model_product.title"/>
            </td>
            <td>
                <f:for each="{cartProduct.tags}" as="tag">
                    <span>{tag.title}</span>
                </f:for>
            </td>
        </tr>
    </f:if>
    <tr>
        <td>
            <f:translate key="tx_cart_domain_model_product.teaser"/>
        </td>
        <td>
            {product.teaser -> f:format.html()}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cart_domain_model_product.description"/>
        </td>
        <td>
            {cartProduct.description -> f:format.html()}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_cart_domain_model_product.price"/>
        </td>
        <td>
            <f:format.currency currencySign="{settings.format.currency.currencySign}"
                               decimalSeparator="{settings.format.currency.decimalSeparator}"
                               thousandsSeparator="{settings.format.currency.thousandsSeparator}"
                               prependCurrency="{settings.format.currency.prependCurrency}"
                               separateCurrency="{settings.format.currency.separateCurrency}"
                               decimals="{settings.format.currency.decimals}">{cartProduct.price}</f:format.currency>
        </td>
    </tr>
</table>