.tx-cart * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tx-cart *:before, .tx-cart *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.tx-cart textarea {
    height: auto;
    min-height: 50px;
}
.tx-cart select {
    width: 100%;
}
.tx-cart .form-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}
.tx-cart .form-row:before {
    content: " ";
    display: table;
}
.tx-cart .form-row:after {
    content: " ";
    display: table;
    clear: both;
}
.tx-cart .form-row .form-row {
    width: auto;
    margin-left: -0.9375rem;
    margin-right: -0.9375rem;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
}
.tx-cart .form-row .form-row:before {
    content: " ";
    display: table;
}
.tx-cart .form-row .form-row:after {
    content: " ";
    display: table;
    clear: both;
}
.tx-cart .form-columns {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    width: 100%;
    float: left;
}
.tx-cart .validation-error {
    color: red;
}
.tx-cart [class*="column"] + [class*="column"]:last-child {
    float: right;
}
@media only screen {
    .tx-cart .form-columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .tx-cart .small-4 {
        width: 33.33333%;
    }
    .tx-cart .small-6 {
        width: 50%;
    }
    .tx-cart .small-8 {
        width: 66.66667%;
    }
}
@media only screen and (min-width: 40.063em) {
    .tx-cart .form-columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .tx-cart .medium-6 {
        width: 50%;
    }
    .tx-cart .medium-12 {
        width: 100%;
    }
}
@media only screen and (min-width: 64.063em) {
    .tx-cart .form-columns {
        position: relative;
        padding-left: 0.9375rem;
        padding-right: 0.9375rem;
        float: left;
    }
    .tx-cart .large-4 {
        width: 33.33333%;
    }
    .tx-cart .large-6 {
        width: 50%;
    }
    .tx-cart .large-8 {
        width: 66.66666%;
    }
}
.tx-cart form .input-box {
    margin-bottom: 1.25rem;
}
.tx-cart form input[type="submit"] {
    width: auto;
}
.tx-cart button,
.tx-cart .button,
#tx-cart-minicart button,
#tx-cart-minicart .button {
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    position: relative;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
    border-radius: 0;
    display: inline-block;
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1.0625rem;
    padding-left: 2rem;
    font-size: 1rem;
    background-color: #008cba;
    border-color: #007095;
    color: #fff;
    transition: background-color 300ms ease-out;
}
.tx-cart button:hover,
.tx-cart .button:hover,
.tx-cart button:focus,
.tx-cart .button:focus,
#tx-cart-minicart button:hover,
#tx-cart-minicart .button:hover,
#tx-cart-minicart button:focus,
#tx-cart-minicart .button:focus {
    color: #fff;
    background-color: #007095;
}
.tx-cart button::-moz-focus-inner,
.tx-cart .button::-moz-focus-inner,
#tx-cart-minicart button::-moz-focus-inner,
#tx-cart-minicart .button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.tx-cart button a,
.tx-cart .button a,
#tx-cart-minicart button a,
#tx-cart-minicart .button a {
    color: #fff;
    text-decoration: none;
}
.tx-cart button a:hover,
.tx-cart .button a:hover,
.tx-cart button a:focus,
.tx-cart .button a:focus,
#tx-cart-minicart button a:hover,
#tx-cart-minicart .button a:hover,
#tx-cart-minicart button a:focus,
#tx-cart-minicart .button a:focus {
    color: #fff;
    text-decoration: none;
}
.tx-cart button.secondary {
    background-color: #E9E9E9;
    color: #1D1D1D;
    border: 1px solid #C3C3C3;
}
.tx-cart .button.secondary {
    background-color: #E9E9E9;
    color: #1D1D1D;
    border: 1px solid #C3C3C3;
}
.tx-cart button.secondary:hover, .tx-cart button.secondary:focus {
    background-color: #b9b9b9;
}
.tx-cart .button.secondary:hover, .tx-cart .button.secondary:focus {
    background-color: #b9b9b9;
}
@media only screen and (min-width: 40.063em) {
    .tx-cart button {
        display: inline-block;
    }
}
.tx-cart form {
    margin: 0 0 1rem;
}
.tx-cart form .form-row .form-row {
    margin: 0 -0.5rem;
}
.tx-cart form .form-row .form-row .form-columns {
    padding: 0 0.5rem;
}
.tx-cart label {
    font-size: 0.875rem;
    color: #4d4d4d;
    cursor: pointer;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
}
.tx-cart input[type="text"], .tx-cart input[type="password"] {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.tx-cart textarea {
    -webkit-appearance: none;
    border-radius: 0;
    background-color: #fff;
    font-family: inherit;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-size: 0.875rem;
    padding: 0.5rem;
    height: 2.3125rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
}
.tx-cart input[type="text"]:focus, .tx-cart input[type="password"]:focus {
    box-shadow: 0 0 5px #999;
    border-color: #999;
}
.tx-cart textarea:focus {
    box-shadow: 0 0 5px #999;
    border-color: #999;
}
.tx-cart input[type="text"]:focus, .tx-cart input[type="password"]:focus {
    background: #fafafa;
    border-color: #999;
    outline: none;
}
.tx-cart textarea:focus {
    background: #fafafa;
    border-color: #999;
    outline: none;
}
.tx-cart input[type="text"]:disabled, .tx-cart input[type="password"]:disabled {
    background-color: #ddd;
    cursor: default;
}
.tx-cart textarea {
    max-width: 100%;
}
.tx-cart textarea:disabled {
    background-color: #ddd;
    cursor: default;
}
.tx-cart select {
    -webkit-appearance: none !important;
    border-radius: 0;
    background-color: #fafafa;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+);
    background-position: 100% center;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.75);
    line-height: normal;
    height: 2.3125rem;
}
.tx-cart select::-ms-expand {
    display: none;
}
.tx-cart select:hover {
    background-color: #f3f3f3;
    border-color: #999;
}
.tx-cart select:disabled {
    background-color: #ddd;
    cursor: default;
}
.tx-cart input[type="checkbox"], .tx-cart input[type="radio"] {
    margin: 0 0 1rem 0;
}
.tx-cart select {
    margin: 0 0 1rem 0;
}
.tx-cart fieldset {
    border: 1px solid #ddd;
    padding: 1.25rem;
    margin: 1.125rem 0;
}
@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}
@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg);
    }
    to {
        -o-transform: rotate(360deg);
    }
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.tx-cart div, .tx-cart dl, .tx-cart dt, .tx-cart dd, .tx-cart ul, .tx-cart ol, .tx-cart li, .tx-cart h1, .tx-cart h2, .tx-cart h3, .tx-cart h4, .tx-cart h5, .tx-cart h6, .tx-cart pre, .tx-cart form, .tx-cart p, .tx-cart blockquote, .tx-cart th, .tx-cart td {
    margin: 0;
    padding: 0;
}
.tx-cart p {
    font-family: inherit;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    text-rendering: optimizeLegibility;
}
.tx-cart h1, .tx-cart h2, .tx-cart h3, .tx-cart h4, .tx-cart h5, .tx-cart h6 {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #222;
    text-rendering: optimizeLegibility;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}
.tx-cart h1 {
    font-size: 2.125rem;
}
.tx-cart h2 {
    font-size: 1.6875rem;
}
.tx-cart h3 {
    font-size: 1.375rem;
}
.tx-cart h4, .tx-cart h5 {
    font-size: 1.125rem;
}
.tx-cart h6 {
    font-size: 1rem;
}
.tx-cart hr {
    border: solid #ddd;
    border-width: 1px 0 0;
    clear: both;
    margin: 1.25rem 0 1.1875rem;
    height: 0;
}
.tx-cart em, .tx-cart i {
    font-style: italic;
    line-height: inherit;
}
.tx-cart strong, .tx-cart b {
    font-weight: bold;
    line-height: inherit;
}
.tx-cart small {
    font-size: 60%;
    line-height: inherit;
}
.tx-cart code {
    font-family: Consolas, "Liberation Mono", Courier, monospace;
    font-weight: normal;
    color: #333;
    background-color: #f8f8f8;
    border-width: 1px;
    border-style: solid;
    border-color: #dfdfdf;
    padding: 0.125rem 0.3125rem 0.0625rem;
}
.tx-cart ul, .tx-cart ol, .tx-cart dl {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
    list-style: none;
    font-family: inherit;
}
.tx-cart ul {
    margin-left: 1.1rem;
}
.tx-cart ul li ul {
    margin-left: 1.25rem;
    margin-bottom: 0;
}
.tx-cart ol {
    margin-left: 1.4rem;
}
.tx-cart dl dt {
    margin-bottom: 0.3rem;
    font-weight: bold;
}
.tx-cart dl dd {
    margin-bottom: 0.75rem;
}
.tx-cart abbr, .tx-cart acronym {
    text-transform: uppercase;
    font-size: 90%;
    color: #222;
    cursor: help;
}
.tx-cart abbr {
    text-transform: none;
}
@media only screen and (min-width: 40.063em) {
    .tx-cart h1, .tx-cart h2, .tx-cart h3, .tx-cart h4, .tx-cart h5, .tx-cart h6 {
        line-height: 1.4;
    }
    .tx-cart h1 {
        font-size: 2.75rem;
    }
    .tx-cart h2 {
        font-size: 2.3125rem;
    }
    .tx-cart h3 {
        font-size: 1.6875rem;
    }
    .tx-cart h4 {
        font-size: 1.4375rem;
    }
    .tx-cart h5 {
        font-size: 1.125rem;
    }
    .tx-cart h6 {
        font-size: 1rem;
    }
}
.tx-cart dialog {
    visibility: hidden;
    display: none;
    position: absolute;
    z-index: 1005;
    width: 100vw;
    top: 0;
    border-radius: 3px;
    left: 0;
    background-color: #fff;
    border: solid 1px #666;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 1.875rem;
    display: none;
}
.tx-cart dialog::backdrop, .tx-cart dialog + .backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    background: rgba(0, 0, 0, 0.45);
    z-index: auto;
    display: none;
    left: 0;
}
@media only screen and (max-width: 40em) {
    .tx-cart dialog {
        min-height: 100vh;
    }
}
@media only screen and (min-width: 40.063em) {
    .tx-cart dialog {
        width: 80%;
        max-width: 62.5rem;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
}
@media only screen and (min-width: 40.063em) {
    .tx-cart dialog {
        top: 6.25rem;
    }
}
.tx-cart table {
    background: #fff;
    margin-bottom: 1.25rem;
    border: solid 1px #ddd;
    table-layout: auto;
    width: 100%;
    border-collapse: collapse;
}
.tx-cart table thead {
    background: #f5f5f5;
}
.tx-cart table thead tr th {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #222;
}
.tx-cart table tfoot {
    background: #f5f5f5;
}
.tx-cart table tfoot tr td {
    padding: 0.5rem 0.625rem 0.625rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: #222;
}
.tx-cart table tr th, .tx-cart table tr td {
    padding: 0.5625rem 0.625rem;
    font-size: 0.875rem;
    color: #222;
    text-align: left;
}
.tx-cart table tr:nth-of-type(even) {
    background: #f9f9f9;
}
.tx-cart table thead tr th, .tx-cart table tfoot tr td, .tx-cart table tbody tr td, .tx-cart table tr td {
    display: table-cell;
    line-height: 1.125rem;
}
.tx-cart form#form-order .form-row, .tx-cart form#form-cart .form-row {
    max-width: 100%;
}
.tx-cart form#form-order .no-display, .tx-cart form#form-cart .no-display {
    display: none;
}
.tx-cart form#form-order .a-center, .tx-cart form#form-cart .a-center {
    text-align: center;
}
.tx-cart form#form-order .a-left, .tx-cart form#form-cart .a-left {
    text-align: left;
}
.tx-cart form#form-order .a-right, .tx-cart form#form-cart .a-right {
    text-align: right;
}
.tx-cart form#form-order ul, .tx-cart form#form-cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tx-cart form#form-order ul li, .tx-cart form#form-cart ul li {
    padding: 0;
    margin: 0;
}
.tx-cart form#form-order ul li ul, .tx-cart form#form-cart ul ul {
    margin: 0;
}
.tx-cart form#form-order ul.form-list, .tx-cart form#form-cart ul.form-list, .tx-cart form#form-order ul.form-list li, .tx-cart form#form-cart ul.form-list li {
    margin-bottom: 20px;
}
.tx-cart form#form-order ul.radio-list li .configuration, .tx-cart form#form-cart ul.radio-list li .configuration {
    padding-left: 22px;
    padding-top: 10px;
}
.tx-cart form#form-order ul.radio-list li label.checked, .tx-cart form#form-cart ul.radio-list li label.checked {
    font-weight: bolder;
}
.tx-cart form#form-order ul.radio-list li label.checked + .configuration, .tx-cart form#form-cart ul.radio-list li label.checked + .configuration {
    display: block;
}
.tx-cart form#form-order .form-column .form-block, .tx-cart form#form-cart .form-column .form-block {
    margin-bottom: 20px;
    background: #efefef;
    padding: 0 20px;
}
.tx-cart form#form-order .form-column .form-block#checkout-review, .tx-cart form#form-cart .form-column .form-block#checkout-review {
    padding: 0;
}
.tx-cart form#form-order .form-title, .tx-cart form#form-cart .form-title {
    background: #ccc;
    margin: 0 -20px 0 -20px;
    padding: 0 20px;
    line-height: 2;
}
.tx-cart form#form-order .form-title .num, .tx-cart form#form-cart .form-title .num {
    background: #333;
    color: #fff;
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 0.75em;
    vertical-align: middle;
    margin-right: 10px;
    margin-top: -3px;
}
.tx-cart form#form-order #checkout-review .form-title, .tx-cart form#form-cart #checkout-review .form-title {
    margin: 0;
}
.tx-cart form#form-order .form-content *, .tx-cart form#form-cart .form-content * {
    font-size: 12px;
}
.tx-cart form#form-order fieldset, .tx-cart form#form-cart fieldset {
    margin: 0;
    border: none;
    padding: 20px 0;
}
.tx-cart form#form-order label em, .tx-cart form#form-cart label em {
    color: red;
    margin-right: 5px;
}
.tx-cart form#form-order label .checkbox, .tx-cart form#form-order label .radio form#form-cart label .checkbox {
    margin-right: 10px;
    margin-bottom: 0;
}
.tx-cart form#form-cart label .radio {
    margin-right: 10px;
    margin-bottom: 0;
}
.tx-cart form#form-order label .price, .tx-cart form#form-cart label .price {
    font-weight: bolder;
}
.tx-cart form#form-order table tfoot tr td, .tx-cart form#form-cart table tfoot tr td {
    background: #ccc;
}
.tx-cart form#form-order table tr, .tx-cart form#form-cart table tr {
    border-bottom: 1px solid #999;
}
.tx-cart form#form-order table tr td, .tx-cart form#form-order table tr th {
    border-right: 1px solid #999;
}
.tx-cart form#form-cart table tr td, .tx-cart form#form-cart table tr th {
    border-right: 1px solid #999;
}
.tx-cart form#form-order table tr td:last-child, .tx-cart form#form-order table tr th:last-child {
    border: none;
}
.tx-cart form#form-cart table tr td:last-child, .tx-cart form#form-cart table tr th:last-child {
    border: none;
}
.tx-cart form#form-order table tr td p, .tx-cart form#form-order table tr th p {
    margin-bottom: 0;
}
.tx-cart form#form-cart table tr td p, .tx-cart form#form-cart table tr th p {
    margin-bottom: 0;
}
.tx-cart .data-table > tbody > tr.danger > td, .tx-cart .data-table > tbody > tr.danger > th {
    background-color: #f2dede;
}
.tx-cart .data-table > tbody > tr > td.danger, .tx-cart .data-table > tbody > tr > th.danger {
    background-color: #f2dede;
}
.tx-cart .data-table > tfoot > tr.danger > td, .tx-cart .data-table > tfoot > tr.danger > th {
    background-color: #f2dede;
}
.tx-cart .data-table > tfoot > tr > td.danger, .tx-cart .data-table > tfoot > tr > th.danger {
    background-color: #f2dede;
}
.tx-cart .data-table > thead > tr.danger > td, .tx-cart .data-table > thead > tr.danger > th {
    background-color: #f2dede;
}
.tx-cart .table > thead > tr > td.danger, .tx-cart .table > thead > tr > th.danger {
    background-color: #f2dede;
}
.tx-cart .delete-link {
    background: red;
    color: #fff;
    display: inline-block;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 1em;
    vertical-align: middle;
    font-weight: bold;
}
