<f:form id="form-cart" class="form"
        name="orderItem"
        action="updateCart"
        method="post">
    <div class="form-row">
        <div class="small-12 medium-12 large-12 form-columns">
            <div class="form-column">
                <table id="checkout-review-table" class="data-table" style="width: 100%">
                    <colgroup>
                        <col span="2"/>
                        <col width="1"/>
                        <col width="1"/>
                        <col width="1"/>
                        <col width="1"/>
                    </colgroup>
                    <thead>
                    <tr class="first last">
                        <th rowspan="1" colspan="2">
                            <f:translate key="tx_cart_domain_model_product_product.title"/>
                        </th>
                        <th colspan="1" class="a-center">
                            <f:translate key="tx_cart_domain_model_product_product.unit_price"/>
                        </th>
                        <th rowspan="1" class="a-center">
                            <f:translate key="tx_cart_domain_model_product_product.count"/>
                        </th>

                        <th colspan="1" class="a-center">
                            <f:translate key="tx_cart_domain_model_product_product.subtotal"/>
                        </th>

                        <th>
                            &nbsp;
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:render partial="Cart/ProductList" arguments="{products:cart.products}"/>
                    </tbody>
                </table>

                <div class="small-6 form-columns">
                    <f:link.action action="clearCart" class="button secondary">
                        <f:translate key="tx_cart.clear_cart"/>
                    </f:link.action>
                </div>
                <div class="small-6 form-columns">
                    <f:form.submit class="button"
                                   value="{f:translate(key: 'tx_cart.update_cart', default: '[submit update]')}"/>
                </div>
            </div>
        </div>
    </div>
</f:form>