<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{settings.currencies.options -> f:count()} > 1">
    <f:asset.script identifier="update-currency" src="EXT:cart/Resources/Public/JavaScript/update_currency.js" />
    <f:form class="form form-currency"
            name="currency"
            extensionName="Cart"
            pluginName="Cart"
            controller="Cart\Currency"
            action="update"
            method="post"
            pageType="{settings.addToCartByAjax}">
        <div class="row top-buffer">
            <div class="col-sm-6 col-md-2">
                <div class="input-box">
                    <f:form.select class="form-control cart-currency-selector"
                                   name="currencyCode"
                                   value="{cart.code}"
                                   options="{settings.currencies.options}"
                                   optionValueField="code" optionLabelField="sign" />
                </div>
            </div>
        </div>
    </f:form>
</f:if>

</html>
