{namespace cart=Extcode\Cart\ViewHelpers}

<f:if condition="{settings.currencies -> f:count()} > 1">
    <f:form class="form form-currency"
            name="currency"
            action="updateCurrency"
            pageType="2278001"
            method="post">
        <div class="row top-buffer">
            <div class="col-sm-6 col-md-2">
                <div class="input-box">
                    <cart:form.select class="form-control cart-currency-selector"
                                      name="currencyCode"
                                      value="{cart.code}"
                                      options="{settings.currencies}"
                                      optionValueField="code" optionLabelField="sign" />
                </div>
            </div>
        </div>
    </f:form>
</f:if>