<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{settings.currencies -> f:count()} > 1">
    <f:form class="form form-currency"
            name="currency"
            pluginName="Cart"
            controller="Cart\Currency"
            action="update"
            pageType="2278001"
            method="post">
        <div class="row top-buffer">
            <div class="col-sm-6 col-md-2">
                <div class="input-box">
                    <f:form.select class="form-control cart-currency-selector"
                                   name="currencyCode"
                                   value="{cart.code}"
                                   options="{settings.currencies}"
                                   optionValueField="code" optionLabelField="sign" />
                </div>
            </div>
        </div>
    </f:form>
</f:if>
</html>
