<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="row top-buffer">
    <div class="col-sm-6 text-right pull-right">
        <f:link.action controller="Cart\Cart" action="clear" class="btn btn-danger">
            <f:translate key="tx_cart.clear_cart"/>
        </f:link.action>
    </div>
</div>

<f:form id="form-cart"
        class="form"
        name="orderItem"
        controller="Cart\Cart"
        action="update"
        method="post">
    <div class="row">
        <div class="col-sm-12">
            <table class="checkout-product-table data-table table stack">
                <colgroup>
                    <col span="2"/>
                    <col width="1"/>
                    <col width="1"/>
                    <col width="1"/>
                    <col width="1"/>
                </colgroup>
                <thead>
                    <tr class="first last">
                        <th colspan="2" class="col-md-6">
                            <f:translate key="tx_cart_domain_model_cart_product.title"/>
                        </th>
                        <th class="col-md-2 text-right">
                            <f:translate key="tx_cart_domain_model_cart_product.price_per_unit_net"/>
                        </th>
                        <th class="col-md-1">
                            <f:translate key="tx_cart_domain_model_cart_product.count"/>
                        </th>
                        <th class="col-md-2 text-right">
                            <f:translate key="tx_cart_domain_model_cart_product.price_subtotal"/>
                        </th>
                        <th class="col-md-1">
                            &nbsp;
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <f:render partial="Cart/ProductForm/ProductList" arguments="{cart:cart, products:cart.products}"/>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6 text-right pull-right">
            <f:form.submit class="btn btn-default"
                           value="{f:translate(key: 'tx_cart.update_cart', default: '[submit update]')}"/>
        </div>
    </div>
</f:form>
</html>
