# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# ReST-Files
[{*.rst,*.rst.txt}]
indent_size = 3
max_line_length = 80

# MD-Files
[*.md]
max_line_length = 80

# TS/JS-Files
[*.{ts,js}]
indent_size = 2