.build
composer.lock

.phplint.cache
build/.phpunit.cache
build/.php-cs-fixer.cache

Documentation/_make
Documentation-GENERATED-temp/

.DS_Store
.idea

var/
vendor/

phpunit.coverage.xml
phpunit.report.xml

node_modules/
package-lock.json
