<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<tr class="tx-cart-order-item">
    <td class="order-number">
        {orderItem.orderNumber}
    </td>
    <td class="order-date">
        <f:if condition="{orderItem.orderDate}">
            <f:then>
                <f:format.date format="d.m.Y" date="{orderItem.orderDate}"/>
            </f:then>
            <f:else>
                &nbsp;
            </f:else>
        </f:if>
    </td>
    <td class="order-invoice-number">
        {orderItem.invoiceNumber}
    </td>
    <td class="order-invoice-date">
        <f:if condition="{orderItem.invoiceDate}">
            <f:then>
                <f:format.date format="d.m.Y" date="{orderItem.invoiceDate}"/>
            </f:then>
            <f:else>
                &nbsp;
            </f:else>
        </f:if>
    </td>
    <td class="order-total-gross">
        <cart:format.currency>{orderItem.totalGross}</cart:format.currency>
    </td>
    <td>
        <f:link.action action="show" arguments="{orderItem : orderItem}">
            <f:translate key='tx_cart.controller.order.action.show'/>
        </f:link.action>
    </td>
</tr>
</html>