{namespace cart=Extcode\Cart\ViewHelpers}

<tr>
    <td>
        {orderItem.orderNumber}
    </td>
    <td>
        <f:if condition="{orderItem.orderDate}">
            <f:then>
                <f:format.date format="d.m.Y" date="{orderItem.orderDate}"/>
            </f:then>
            <f:else>
                &nbsp;
            </f:else>
        </f:if>
    </td>
    <td>
        {orderItem.invoiceNumber}
    </td>
    <td>
        <f:if condition="{orderItem.invoiceDate}">
            <f:then>
                <f:format.date format="d.m.Y" date="{orderItem.invoiceDate}"/>
            </f:then>
            <f:else>
                &nbsp;
            </f:else>
        </f:if>
    </td>
    <td style="width: 75px; text-align: right;">
        <cart:format.currency>{orderItem.totalGross}</cart:format.currency>
    </td>
    <td>
        <f:link.action action="show" arguments="{orderItem : orderItem}">
            show
        </f:link.action>
    </td>
</tr>