{namespace cart=Extcode\Cart\ViewHelpers}

<tr class="{f:if(condition: product.quantityIsInRange, then: '', else: 'danger')}">
    <td colspan="2">
        <div class="product-name">{product.title} - {product.feVariant.value}</div>
        <p>
            <f:translate key="tx_cart_domain_model_order_product.sku.short"/>
            : {product.sku}
        </p>
    </td>
    <td class="text-right">
                    <span class="price">
                        <cart:format.currency>{product.bestPrice}</cart:format.currency>
                    </span>
    </td>
    <td class="a-center">
        <div class="qty-wrapper">
            <f:form.textfield type="text" value="{product.quantity}" name="quantities[{product.id}]"/>
        </div>
    </td>
    <td class="text-right">
        <f:if condition="{product.quantityIsInRange}">
            <f:then>
                <cart:format.currency>{product.gross}</cart:format.currency>
            </f:then>
            <f:else>
                <f:if condition="{product.quantityBelowRange}">
                    Mindestbestellmenge nicht erreicht.
                </f:if>
                <f:if condition="{product.quantityAboveRange}">
                    Maximalbestellmenge überschritten.
                </f:if>
            </f:else>
        </f:if>
    </td>
    <td class="last">
        <f:link.action action="removeProduct" arguments="{product: product.id}">
            <span class="delete-link" title="<f:translate key='tx_cart.remove_product'/>">x</span>
        </f:link.action>
    </td>
</tr>