{namespace cart=Extcode\Cart\ViewHelpers}

<f:section name="variantSection">
    <f:if condition="{variant.beVariants}">
        <f:then>
            <f:for each="{variant.beVariants}" as="variantVariant">
                <f:render section="variantSection" arguments="{variant:variantVariant, product:product}"/>
            </f:for>
        </f:then>
        <f:else>
            <tr class="{f:if(condition: product.quantityIsInRange, then: '', else: 'danger')}">
                <td>&nbsp;</td>
                <td>
                    <div class="product-name">{variant.title}</div>
                    <p>
                        <f:translate key="tx_cart_domain_model_order_product.sku.short"/>
                        : {variant.sku}
                    </p>
                </td>
                <td class="text-right">
                    <f:format.currency currencySign="{settings.format.currency.currencySign}"
                                       decimalSeparator="{settings.format.currency.decimalSeparator}"
                                       thousandsSeparator="{settings.format.currency.thousandsSeparator}"
                                       prependCurrency="{settings.format.currency.prependCurrency}"
                                       separateCurrency="{settings.format.currency.separateCurrency}"
                                       decimals="{settings.format.currency.decimals}">{variant.priceCalculated}</f:format.currency>
                </td>
                <td class="a-center">
                    <div class="qty-wrapper">
                        <f:form.textfield type="text" value="{variant.quantity}"
                                          name="quantities{cart:fieldName(variant:variant)}"/>
                    </div>
                </td>
                <td class="last text-right">
                    <f:if condition="{product.quantityIsInRange}">
                        <f:then>
                            <f:format.currency currencySign="{settings.format.currency.currencySign}"
                                               decimalSeparator="{settings.format.currency.decimalSeparator}"
                                               thousandsSeparator="{settings.format.currency.thousandsSeparator}"
                                               prependCurrency="{settings.format.currency.prependCurrency}"
                                               separateCurrency="{settings.format.currency.separateCurrency}"
                                               decimals="{settings.format.currency.decimals}">{variant.gross}</f:format.currency>
                        </f:then>
                        <f:else>
                            <f:if condition="{product.quantityBelowRange}">
                                Mindestbestellmenge nicht erreicht.
                            </f:if>
                            <f:if condition="{product.quantityAboveRange}">
                                Maximalbestellmenge überschritten.
                            </f:if>
                        </f:else>
                    </f:if>
                </td>
                <td>
                    <cart:link.action action="removeProduct" product="{variant.product}" beVariant="{variant}">
                        <span class="delete-link" title="<f:translate key='tx_cart.remove_product'/>">x</span>
                    </cart:link.action>
                </td>
            </tr>
        </f:else>
    </f:if>

</f:section>

<tr class="{f:if(condition: product.quantityIsInRange, then: '', else: 'danger')}">
    <td colspan="2">
        <div class="product-name">{product.title} - {product.feVariant.value}</div>
    </td>
    <td class="text-right">
        &nbsp;
    </td>
    <td class="a-center">
        &nbsp;
    </td>
    <td class="text-right">
        &nbsp;
    </td>
    <td class="last">
        &nbsp;
    </td>
</tr>

<f:for each="{product.beVariants}" as="variant">
    <f:render section="variantSection" arguments="{variant:variant, product:product}"/>
</f:for>

<tr class="{f:if(condition: product.quantityIsInRange, then: '', else: 'danger')}">
    <td colspan="2">
        &nbsp;
    </td>
    <td class="text-right">
        &nbsp;
    </td>
    <td class="a-center">
        <div class="qty-wrapper">
            {product.quantity}
        </div>
    </td>
    <td class="text-right">
        <f:if condition="{product.quantityIsInRange}">
            <f:then>
                <f:format.currency currencySign="{settings.format.currency.currencySign}"
                                   decimalSeparator="{settings.format.currency.decimalSeparator}"
                                   thousandsSeparator="{settings.format.currency.thousandsSeparator}"
                                   prependCurrency="{settings.format.currency.prependCurrency}"
                                   separateCurrency="{settings.format.currency.separateCurrency}"
                                   decimals="{settings.format.currency.decimals}">{product.gross}</f:format.currency>
            </f:then>
        </f:if>
    </td>
    <td class="last">
        &nbsp;
    </td>
</tr>