<f:layout name="Default"/>

<f:section name="actions">
</f:section>

<f:section name="content">

    <f:form method="post" controller="BeVariantAttribute" action="create" name="newBeVariantAttribute" object="{newBeVariantAttribute}">
        <div>
            <label for="sku">
                <f:translate key="tx_cartproduct_domain_model_variantset.sku"/>
            </label>
            <f:form.textfield property="sku"/>
        </div>
        <div>
            <label for="title">
                <f:translate key="tx_cartproduct_domain_model_variantset.title"/>
            </label>
            <f:form.textfield property="title"/>
        </div>
        <div>
            <label for="description">
                <f:translate key="tx_cartproduct_domain_model_variantset.description"/>
            </label>
            <f.form.textarea property="description" rows="8" cols="46"/>
        </div>
        <div>
            <f:form.submit class="submit" value="Submit"/>
        </div>
    </f:form>

</f:section>