<f:layout name="Default"/>

<f:section name="actions">
</f:section>

<f:section name="content">
    <h1>
        <f:translate key="tx_cartproduct.module.beVariantAttributeController.showAction.header"/>
    </h1>

    <div class="right btn">
        <f:link.action action="edit" arguments="{beVariantAttribute : beVariantAttribute}">Edit</f:link.action>
    </div>
    <div class="clear"><!-- &nbsp --></div>

    <table class="tx_contact typo3-dblist">
        <tr>
            <th class="t3-row-header">
                <f:translate key="tx_cartproduct_domain_model_variantset.sku"/>
            </th>
            <td colspan="3">{beVariantAttribute.sku}</td>
        </tr>
        <tr>
            <th class="t3-row-header">
                <f:translate key="tx_cartproduct_domain_model_variantset.title"/>
            </th>
            <td colspan="3">{beVariantAttribute.title}</td>
        </tr>
        <f:if condition="{beVariantAttribute.description}">
            <tr>
                <th class="t3-row-header">
                    <f:translate key="tx_cartproduct_domain_model_variantset.description"/>
                </th>
                <td colspan="3">{beVariantAttribute.description}</td>
            </tr>
        </f:if>
    </table>

    <div class="right btn">
        <f:link.action controller="BeVariantAttributeOption" action="new" arguments="{beVariantAttribute : beVariantAttribute}">New
        </f:link.action>
    </div>
    <div class="clear"><!-- &nbsp --></div>
    <table class="tx_contact typo3-dblist">
        <tr>
            <th class="t3-row-header" colspan="4">
                <f:translate key="tx_cartproduct_domain_model_variantset.be_variant_attribute_options"/>
            </th>
        </tr>
        <tr>
            <th class="t3-row-header" style="text-align: left;">
                <f:translate key="tx_cartproduct_domain_model_variantset.title"/>
            </th>
            <th class="t3-row-header" style="text-align: left;">
                <f:translate key="tx_cartproduct_domain_model_variantset.sku"/>
            </th>
            <th class="t3-row-header" style="width: 150px;">&nbsp;</th>
        </tr>
        <f:if condition="{beVariantAttribute.beVariantAttributeOptions}">
            <f:for each="{beVariantAttribute.beVariantAttributeOptions}" as="beVariantAttributeOption" iteration="beVariantAttributeOptionsIterator">
                <tr>
                    <td>{beVariantAttributeOption.title}</td>
                    <td>{beVariantAttributeOption.sku}</td>
                    <td style="text-align: right;">
                        <f:link.action controller="BeVariantAttributeOption" action="edit"
                                       arguments="{beVariantAttribute : beVariantAttribute, beVariantAttributeOption : beVariantAttributeOption}">Edit
                        </f:link.action>
                        |
                        <f:link.action controller="BeVariantAttributeOption" action="delete"
                                       arguments="{beVariantAttribute : beVariantAttribute, beVariantAttributeOption : beVariantAttributeOption}">Delete
                        </f:link.action>
                    </td>
                </tr>
            </f:for>
        </f:if>
    </table>

    <br><br>
    <f:link.action action="list">Back to Variant Set List</f:link.action>
</f:section>