<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div id="checkout-step-coupon" class="checkout-step bg-light-grey">
    <h5 class="checkout-step-title">
        <span class="checkout-step-number"></span>
        <span><f:translate key="tx_cart.controller.order.action.show_cart.block-header.coupons"/></span>
    </h5>
    <div class="checkout-step-content">
        <div class="coupon-list-container">
            <f:if condition="{cart.coupons}">
                <f:then>
                    <div class="coupon-list checkout-step-content-list">
                        <f:for each="{cart.coupons}" as="coupon">
                            <div class="coupon-item">
                                <span>{coupon.title}</span><span> - </span>
                                <span>
                                    <cart:format.currency currencySign="{cart.currencySign}">{coupon.translatedDiscount}</cart:format.currency>
                                </span>
                                <f:if condition="{coupon.useable}">
                                    <f:else>
                                        <span class="coupon-hint not-usable">
                                            <f:translate key="tx_cart_domain_model_coupon.code.not_useable"/>
                                            <f:translate key="tx_cart_domain_model_coupon.cart_min_price"/>: <cart:format.currency>{coupon.cartMinPrice}</cart:format.currency>
                                        </span>
                                    </f:else>
                                </f:if>
                                <span class="remove-coupon-link">
                                    <f:link.action controller="Cart\Coupon" action="remove" arguments="{couponCode: coupon.code}">
                                        <span class="delete-link btn btn-danger" title="<f:translate key='tx_cart.remove_coupon'/>">x</span>
                                    </f:link.action>
                                </span>
                            </div>
                        </f:for>
                    </div>
                </f:then>
                <f:else>
                    <div class="coupon-hint not-available">
                        <f:translate key="tx_cart.controller.order.action.show_cart.coupons.not_available"/>
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</div>
</html>
