<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div id="checkout-step-payment-method" class="checkout-step bg-light-grey bottom-buffer">
    <h5 class="checkout-step-title">
        <span class="checkout-step-number"></span>
        <span><f:translate key="tx_cart.controller.order.action.show_cart.block-header.payment_method"/></span>
    </h5>
    <div class="checkout-step-content">
        <fieldset>
            <div class="method-list checkout-step-content-list">
                <f:for each="{payments}" as="payment">
                    <f:if condition="{payment.available}">
                        <div class="method-item-name">
                            <f:if condition="{0: payment.id} == {0: cart.payment.id}">
                                <f:then>
                                    {payment.name}
                                </f:then>
                                <f:else>
                                    <f:link.action controller="Cart\Payment"
                                                   action="update"
                                                   arguments="{paymentId:payment.id}"
                                                   pageType="2278001"
                                                   class="set-payment">
                                        {payment.name}
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </div>
                        <div class="method-item-info">
                            <cart:format.currency currencySign="{cart.currencySign}">{payment.gross}</cart:format.currency>
                        </div>
                    </f:if>
                </f:for>
            </div>
        </fieldset>
    </div>
</div>
</html>
