{namespace cart=Extcode\Cart\ViewHelpers}

<div id="payment-method" class="bg-light-grey top-buffer">
    <h5 class="form-title">
        <span class="num">3</span>
        <span><f:translate key="tx_cart.controller.order.action.show_cart.block-header.payment_method"/></span>
    </h5>
    <div class="form-content">
        <fieldset>
            <dl class="sp-methods">
                <f:for each="{payments}" as="payment">
                    <cart:form.isServiceAvailableAtPrice service="{payment}" price="{cart.gross}">
                        <dt>
                            <f:if condition="{0: payment.id} == {0: cart.payment.id}">
                                <f:then>
                                    {payment.name}
                                </f:then>
                                <f:else>
                                    <f:link.action action="setPayment"
                                                   arguments="{paymentId:payment.id}"
                                                   pageType="2278001"
                                                   class="setPayment">
                                        {payment.name}
                                    </f:link.action>
                                </f:else>
                            </f:if>
                        </dt>
                        <dd>
                            <cart:format.currency currencySign="{cart.currencySign}">{payment.gross}</cart:format.currency>
                        </dd>
                    </cart:form.isServiceAvailableAtPrice>
                </f:for>
            </dl>
        </fieldset>
    </div>
</div>