{namespace cart=Extcode\Cart\ViewHelpers}

<div id="shipping-method" class="bg-light-grey">
    <h5 class="form-title">
        <span class="num">2</span>
        <span><f:translate key="tx_cart.controller.order.action.show_cart.block-header.shipping_method"/></span>
    </h5>
    <div class="form-content">
        <fieldset>
            <dl class="sp-methods">
                <f:for each="{shippings}" as="shipping">
                    <dt>
                        <f:if condition="{0: shipping.id} == {0: cart.shipping.id}">
                            <f:then>
                                {shipping.name}
                            </f:then>
                            <f:else>
                                <f:link.action action="setShipping" arguments="{shippingId:shipping.id}">
                                    {shipping.name}
                                </f:link.action>
                            </f:else>
                        </f:if>
                    </dt>
                    <dd>
                        <cart:format.currency>{shipping.gross}</cart:format.currency>
                    </dd>
                </f:for>
            </dl>
        </fieldset>
    </div>
</div>