<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="SystemEmail" />
<f:section name="Title"><f:translate extensionName="Cart" key="tx_cart.mail.buyer.subject" arguments="{0: orderItem.orderNumber}" /></f:section>
<f:section name="Subject"><f:translate extensionName="Cart" key="tx_cart.mail.buyer.subject" arguments="{0: orderItem.orderNumber}" /></f:section>
<f:section name="Main">
    <f:render partial="Mail/Header" arguments="{_all}"/>

    <f:render partial="Mail/OrderInformation" arguments="{_all}"/>

    <f:render partial="Mail/OrderSummary" arguments="{_all}"/>

    <f:render partial="Mail/Cart" arguments="{cart: cart}"/>

    <f:render partial="Mail/Footer" arguments="{_all}"/>
</f:section>
</html>