<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="order-cart-table table data-table">
    <thead>
        <tr>
            <th class="bg-light-grey">
                <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.sku"/>
            </th>
            <th class="bg-light-grey border-left-grey">
                <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.title"/>
            </th>
            <th class="bg-light-grey border-left-grey">
                <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.price"/>
            </th>
            <th class="bg-light-grey border-left-grey">
                <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.discount"/>
            </th>
            <th class="bg-light-grey border-left-grey">
                <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.count"/>
            </th>
            <th class="bg-light-grey border-left-grey">
                <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.net"/>
            </th>
            <th class="bg-light-grey border-left-grey">
                <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.gross"/>
            </th>
            <f:for each="{orderItem.orderTotalTax}" as="orderTotalTax">
                <th class="bg-light-grey border-left-grey">
                    <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:plugin.cart.product.tax"
                                 arguments="{0: orderTotalTax.orderTaxClass.name}"/>
                </th>
            </f:for>
        </tr>
    </thead>
    <tbody>
        <f:for each="{orderItem.products}" as="product">
            <f:render partial="Order/Show/Product"
                      arguments="{product: product, currencySign: orderItem.currency}"/>
        </f:for>
    </tbody>
    <tfoot>
        <f:render partial="Order/Show/Summary" arguments="{orderItem: orderItem}"/>
    </tfoot>
</table>
</html>