<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table class="order-properties-table table data-table">
    <tr class="properties-number">
        <th class="bg-light-grey">
            <f:translate key="tx_cart_domain_model_order_item.order_number"/>
            :
        </th>
        <td>
            {orderItem.orderNumber}
        </td>
        <th class="bg-light-grey border-left-grey">
            <f:translate key="tx_cart_domain_model_order_item.invoice_number"/>
            :
        </th>
        <td>
            {orderItem.invoiceNumber}
        </td>
    </tr>
    <tr class="properties-date">
        <th class="bg-light-grey">
            <f:translate key="tx_cart_domain_model_order_item.order_date"/>
            :
        </th>
        <td>
            <f:if condition="{orderItem.orderDate}">
                <f:format.date format="d.m.Y" date="{orderItem.orderDate}"/>
            </f:if>
        </td>
        <th class="bg-light-grey border-left-grey">
            <f:translate key="tx_cart_domain_model_order_item.invoice_date"/>
            :
        </th>
        <td>
            <f:if condition="{orderItem.invoiceDate}">
                <f:format.date format="d.m.Y" date="{orderItem.invoiceDate}"/>
            </f:if>
        </td>
    </tr>
    <tr class="properties-shipping-payment">
        <th class="bg-light-grey">
            <f:translate key="tx_cart_domain_model_order_item.order_payment"/>
            :
        </th>
        <td>
            {orderItem.payment.name}
        </td>
        <th class="bg-light-grey border-left-grey">
            <f:translate key="tx_cart_domain_model_order_item.order_shipping"/>
            :
        </th>
        <td>
            {orderItem.shipping.name}
        </td>
    </tr>
    <tr class="properties-status">
        <th class="bg-light-grey">
            <f:translate key="tx_cart_domain_model_order_payment.status"/>
        </th>
        <td>
            <f:translate key="tx_cart_domain_model_order_payment.status.{orderItem.payment.status}"/>
        </td>
        <th class="bg-light-grey border-left-grey">
            <f:translate key="tx_cart_domain_model_order_shipping.status"/>
        </th>
        <td>
            <f:translate key="tx_cart_domain_model_order_shipping.status.{orderItem.shipping.status}"/>
        </td>
    </tr>
</table>

<div>
    <div class="block-left">
        <f:if condition="{orderItem.billingAddress}">
            <strong>
                <f:translate key="tx_cart_domain_model_order_item.billing_address"/>
                :
            </strong>
            <f:render partial="Order/Show/Address" arguments="{address: orderItem.billingAddress}"/>
        </f:if>
    </div>

    <div class="block-right">
        <f:if condition="{orderItem.shippingAddress}">
            <strong>
                <f:translate key="tx_cart_domain_model_order_item.shipping_address"/>
                :
            </strong>
            <f:render partial="Order/Show/Address" arguments="{address: orderItem.shippingAddress}"/>
        </f:if>
    </div>

    <div class="clear"><!-- --></div>
</div>
</html>