<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:form.validationResults>
    <div class="error">
        {error.message}
        <f:if condition="{validationResults.flattenedErrors}">
            <p>
                <strong>{error.propertyName}</strong>:
                <f:for each="{validationResults.flattenedErrors}" as="errors" key="propertyPath">
                    {propertyPath}
                    <f:for each="{errors}" as="error">
                        {error.code}: {error}
                    </f:for>
                </f:for>
            </p>
        </f:if>
    </div>
</f:form.validationResults>
</html>