{namespace cart=Extcode\Cart\ViewHelpers}

<f:layout name="Default"/>

<f:section name="actions">
</f:section>

<f:section name="content">
    <f:flashMessages/>

    <f:render partial="Order/Filter/Statistic" arguments="{searchArguments: searchArguments, action: 'statistic'}"/>

    <div class="clear"></div>

    <p>
        OrderItemCount: {statistics.orderItemCount}
    </p>
    <p>
        OrderProductCount: {statistics.orderProductCount}
    </p>

    <div class="table-fit">
        <table class="table table-striped typo3-dblist">
            <thead>
            <tr class="t3-row-header">
                <td>&nbsp;</td>
                <th>Total</th>
                <th>Average</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Gross:</th>
                <td>
                    <cart:format.currency currencySign="{orderItem.currency}">{statistics.orderItemGross}</cart:format.currency>
                </td>
                <td>
                    <cart:format.currency currencySign="{orderItem.currency}">{statistics.orderItemAverageGross}</cart:format.currency>
                </td>
            </tr>
            <tr>
                <th>Net:</th>
                <td>
                    <cart:format.currency currencySign="{orderItem.currency}">{statistics.orderItemNet}</cart:format.currency>
                </td>
                <td>
                    <cart:format.currency currencySign="{orderItem.currency}">{statistics.orderItemAverageNet}</cart:format.currency>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</f:section>