<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<table width="600" cellspacing="0" border="0" style="font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
    <tr>
        <td height="10" style="font-size:10px; line-height:10px;">   </td><!-- Spacer -->
    </tr>
    <tr>
        <td width="600" height="34" valign="center" style="background-color:#2d4554; color:#fff; padding: 0 10px; margin: 0; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <b><f:translate extensionName="Cart" key="tx_cart.mail.order_information" /></b>
        </td>
    </tr>
    <tr>
        <td height="10" style="font-size:10px; line-height:10px;">   </td><!-- Spacer -->
    </tr>
</table>

<f:render partial="Mail/Address" arguments="{billingAddress: orderItem.billingAddress, shippingAddress: orderItem.shippingAddress}"/>
</html>