{namespace cart=Extcode\Cart\ViewHelpers}

<tr class="first">
    <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><!-- --></td>
    <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;"><!-- --></td>
</tr>

<f:if condition="{settings.showCartAction.summary.fields.cart.net}">
    <tr class="first">
        <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <f:translate key="tx_cart_domain_model_cart_cart.net"/>
        </td>
        <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <span class="price">
                <cart:format.currency currencySign="{cart.currencySign}">{cart.net}</cart:format.currency>
            </span>
        </td>
    </tr>
</f:if>
<f:if condition="{settings.showCartAction.summary.fields.cart.gross}">
    <tr>
        <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <f:translate key="tx_cart_domain_model_cart_cart.gross"/>
        </td>
        <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <span class="price">
                <cart:format.currency currencySign="{cart.currencySign}">{cart.gross}</cart:format.currency>
            </span>
        </td>
    </tr>
</f:if>
<f:if condition="{settings.showCartAction.summary.fields.cart.taxes}">
    <f:render partial="Mail/TaxList" arguments="{taxClasses: cart.taxClasses, taxes: cart.taxes}"/>
</f:if>

<f:if condition="{cart.discountGross}">
    <f:if condition="{settings.showCartAction.summary.fields.discount.net}">
        <tr>
            <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                <f:translate key="tx_cart_domain_model_order_product.discount_net"/>
            </td>
            <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                <span class="price">
                    <cart:format.currency currencySign="{cart.currencySign}">{cart.discountNet}</cart:format.currency>
                </span>
            </td>
        </tr>
    </f:if>
    <f:if condition="{settings.showCartAction.summary.fields.discount.gross}">
        <tr>
            <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                <f:translate key="tx_cart_domain_model_order_product.discount_gross"/>
            </td>
            <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
                <span class="price">
                    <cart:format.currency currencySign="{cart.currencySign}">{cart.discountGross}</cart:format.currency>
                </span>
            </td>
        </tr>
    </f:if>
    <f:if condition="{settings.showCartAction.summary.fields.discount.taxes}">
        <f:render partial="Mail/TaxList" arguments="{taxClasses: cart.taxClasses, taxes: cart.discountTaxes}"/>
    </f:if>
</f:if>

<f:if condition="{settings.showCartAction.summary.fields.service.net}">
    <tr>
        <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <f:translate key="tx_cart_domain_model_order_product.service_net"/>
        </td>
        <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <span class="price">
                <cart:format.currency currencySign="{cart.currencySign}">{cart.serviceNet}</cart:format.currency>
            </span>
        </td>
    </tr>
</f:if>
<f:if condition="{settings.showCartAction.summary.fields.service.gross}">
    <tr>
        <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <f:translate key="tx_cart_domain_model_order_product.service_gross"/>
        </td>
        <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <span class="price">
                <cart:format.currency currencySign="{cart.currencySign}">{cart.serviceGross}</cart:format.currency>
            </span>
        </td>
    </tr>
</f:if>
<f:if condition="{settings.showCartAction.summary.fields.service.taxes}">
    <f:render partial="Mail/TaxList" arguments="{taxClasses: cart.taxClasses, taxes: cart.serviceTaxes}"/>
</f:if>

<f:if condition="{settings.showCartAction.summary.fields.total.net}">
    <tr>
        <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <f:translate key="tx_cart_domain_model_order_product.total_net"/>
        </td>
        <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <span class="price">
                <cart:format.currency currencySign="{cart.currencySign}">{cart.totalNet}</cart:format.currency>
            </span>
        </td>
    </tr>
</f:if>
<f:if condition="{settings.showCartAction.summary.fields.total.gross}">
    <tr>
        <td colspan="4" style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <f:translate key="tx_cart_domain_model_order_product.total_gross"/>
        </td>
        <td style="text-align: right; font-family: Arial, Helvetica, sans-serif; font-size: 12px;">
            <span class="price">
                <cart:format.currency currencySign="{cart.currencySign}">{cart.totalGross}</cart:format.currency>
            </span>
        </td>
    </tr>
</f:if>
<f:if condition="{settings.showCartAction.summary.fields.total.taxes}">
    <f:render partial="Mail/TaxList" arguments="{taxClasses: cart.taxClasses, taxes: cart.totalTaxes}"/>
</f:if>