<f:layout name="Default"/>

<f:section name="main">
    {settings.title}
    <div class="cart">
        <f:form pageUid="{settings.cartPageId}"
                action="addProduct"
                controller="Cart">
            <input type="hidden" value="{contentId}" name="tx_cart_cart[contentId]">
            <input type="text" value="1" name="tx_cart_cart[quantity]">
            <f:form.submit class="button" value="{f:translate(key: 'tx_cart.add_product', default: '[add product]')}"/>
        </f:form>
    </div>
</f:section>