<f:layout name="Default"/>

<f:section name="main">

    <f:flashMessages renderMode="div"/>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th class="col-md-2">
                    &nbsp;
                </th>
                <th class="col-md-6">
                    <f:translate key="tx_cart_domain_model_product_product.title"/>
                </th>
                <th class="col-md-4">
                    <f:translate key="tx_cart_domain_model_product_product.price"/>
                </th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{products}" as="product">
                <tr>
                    <f:if condition="{product.firstCategory.cartProductSinglePid}">
                        <f:then>
                            <td>
                                <f:link.action pageUid="{product.firstCategory.cartProductSinglePid}" action="show" arguments="{product : product}">
                                    <f:if condition="{product.images}">
                                        <f:image src="{product.firstImage.originalResource.originalFile.uid}"
                                                 title="{product.firstImage.originalResource.title}"
                                                 alt="{product.firstImage.originalResource.title}"
                                                 width="{settings.listAction.media.image.size.small.maxWidth}"
                                                 height="{settings.listAction.media.image.size.small.maxHeight}" />
                                    </f:if>
                                </f:link.action>
                            </td>
                            <td>
                                <f:link.action pageUid="{product.firstCategory.cartProductSinglePid}" action="show" arguments="{product: product}">
                                    {product.title}
                                </f:link.action>
                            </td>
                        </f:then>
                        <f:else>
                            <f:if condition="{settings.showPageUids}">
                                <f:then>
                                    <td>
                                        <f:link.action pageUid="{settings.showPageUids}" action="show" arguments="{product : product}">
                                            <f:if condition="{product.images}">
                                                <f:image src="{product.firstImage.originalResource.originalFile.uid}"
                                                         title="{product.firstImage.originalResource.title}"
                                                         alt="{product.firstImage.originalResource.title}"
                                                         width="{settings.listAction.media.image.size.small.maxWidth}"
                                                         height="{settings.listAction.media.image.size.small.maxHeight}" />
                                            </f:if>
                                        </f:link.action>
                                    </td>
                                    <td>
                                        <f:link.action pageUid="{settings.showPageUids}" action="show" arguments="{product: product}">
                                            {product.title}
                                        </f:link.action>
                                    </td>
                                </f:then>
                                <f:else>
                                    <td>
                                        <f:link.action action="show" arguments="{product : product}">
                                            <f:if condition="{product.images}">
                                                <f:image src="{product.firstImage.originalResource.originalFile.uid}"
                                                         title="{product.firstImage.originalResource.title}"
                                                         alt="{product.firstImage.originalResource.title}"
                                                         width="{settings.listAction.media.image.size.small.maxWidth}"
                                                         height="{settings.listAction.media.image.size.small.maxHeight}" />
                                            </f:if>
                                        </f:link.action>
                                    </td>
                                    <td>
                                        <f:link.action action="show" arguments="{product: product.uid}">
                                            {product.title}
                                        </f:link.action>
                                    </td>
                                </f:else>
                            </f:if>
                        </f:else>
                    </f:if>
                    <td>
                        <f:render partial="Product/Price" arguments="{product: product, settings: settings}"></f:render>
                    </td>
                </tr>
            </f:for>
        </tbody>
    </table>

</f:section>