<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{products}">
        <f:for each="{products}" as="product">
            <h3>{cartProduct.title}</h3>

            <f:if condition="{product.firstImage}">
                <f:image src="{product.firstImage.originalResource.originalFile.uid}"
                         title="{product.firstImage.originalResource.title}"
                         alt="{product.firstImage.originalResource.title}"
                         width="{settings.teaserAction.media.image.size.medium.maxWidth}"
                         height="{settings.teaserAction.media.image.size.medium.maxHeight}"/>
            </f:if>

            <div>{product.teaser -> f:format.html()}</div>

            <f:if condition="{settings.cart.pid}">
                <f:render partial="Product/CartForm" arguments="{product: product, pid: settings.cart.pid}"/>
            </f:if>
        </f:for>
    </f:if>
</f:section>