{namespace cart=Extcode\Cart\ViewHelpers}

<div class="cart_form">
    <f:form pageUid="{pid}"
            id="add-product-form"
            extensionName="Cart" pluginName="Cart" controller="Cart" action="addProduct"
            method="post"
            additionalAttributes="{data-remote: '{settings.addToCartByAjax}'}">
        <f:if condition="{settings.addToCartByAjax}'}">
            <input type="hidden" value="{pid}" name="tx_cart_cart[pid]">
        </f:if>
        <input type="hidden" value="{product.uid}" name="tx_cart_cart[productId]">
        <input type="text" value="1" name="tx_cart_cart[quantity]">
        <f:if condition="{product.beVariants}">
            <cart:form.variantSelect id="be-variants-select" name="tx_cart_cart[beVariants][1]" product="{product}"/>
        </f:if>
        <f:if condition="{product.feVariants}">
            <f:for each="{product.feVariants}" as="feVariant">
                {feVariant.title}:
                <input type="text" name="tx_cart_cart[feVariants][{feVariant.sku}]">
            </f:for>
        </f:if>
        <input type="submit" class="button" value="<f:translate key='tx_cart.plugin.form.submit' />">
    </f:form>
</div>