{namespace cart=Extcode\Cart\ViewHelpers}

<div class="cart_form">
    <div class="form-message"></div>

    <f:form pageUid="{pid}"
            id="add-product-form"
            extensionName="Cart" pluginName="Cart" controller="Cart" action="addProduct"
            method="post"
            pageType="{f:if(condition:'{settings.addToCartByAjax}', then:'2278001', else:'')}"
            additionalAttributes="{data-remote: '{settings.addToCartByAjax}'}">
        <f:if condition="{settings.addToCartByAjax}'}">
            <input type="hidden" value="{pid}" name="tx_cart_cart[pid]">
        </f:if>
        <input class="form-control" type="hidden" value="{product.uid}" name="tx_cart_cart[productId]">
        <input class="form-control" type="text" value="1" name="tx_cart_cart[quantity]">
        <f:if condition="{product.beVariants}">
            <cart:form.variantSelect id="be-variants-select" class="form-control" name="tx_cart_cart[beVariants][1]" product="{product}" blank="{f:translate(key: 'tx_cart.variants-select.choose')}"/>
        </f:if>
        <f:if condition="{product.feVariants}">
            <f:for each="{product.feVariants}" as="feVariant">
                <f:if condition="{feVariant.isRequired}">
                    <f:then>
                        <label class="required">{feVariant.title} <em>*</em></label>
                        <input type="text" name="tx_cart_cart[feVariants][{feVariant.sku}]" required="true">
                    </f:then>
                    <f:else>
                        <label class="required">{feVariant.title}</label>
                        <input type="text" name="tx_cart_cart[feVariants][{feVariant.sku}]">
                    </f:else>
                </f:if>
            </f:for>
        </f:if>
        <input type="submit" class="btn btn-default" value="<f:translate key='tx_cart.plugin.form.submit' />">
    </f:form>

    <div class="form-success" style="display: none;">
        <div class="alert alert-success" >
            <f:translate key="tx_cart.plugin.form.submit.success"/>
        </div>
    </div>
    <div class="form-error" style="display: none;">
        <div class="alert alert-warning">
            <f:translate key="tx_cart.plugin.form.submit.error"/>
        </div>
    </div>
</div>
