{namespace cart=Extcode\Cart\ViewHelpers}

<cart:product.ifBestSpecialPriceAvailable product="{product}">
    <f:then>
        <div class="regular_price">
            <f:translate key="tx_cart_domain_model_product_product.regular_price"/>:
            <del>
                <span class="price">
                    <cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{product.price}</cart:format.currency>
                </span>
            </del>
        </div>
        <div class="special_price">
            <f:translate key="tx_cart_domain_model_product_product.special_price"/>:
            <span class="price">
                <cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}"><cart:product.bestSpecialPrice product="{product}"/></cart:format.currency>
            </span>
        </div>
        <div class="special_price_percentage_discount">
            <strong>(Sie sparen: <f:format.number><cart:product.bestSpecialPricePercentageDiscount product="{product}"/></f:format.number> %)</strong>
        </div>
    </f:then>
    <f:else>
        <div class="regular_price">
            <span class="price">
                <f:if condition="{product.beVariants}">
                    <f:then>
                        <cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{product.beVariants.0.priceCalculated}</cart:format.currency>
                    </f:then>
                    <f:else>
                        <cart:format.currency currencyTranslation="{currencyTranslationData.currencyTranslation}" currencySign="{currencyTranslationData.currencySign}">{product.minPrice}</cart:format.currency>
                    </f:else>
                </f:if>
            </span>
        </div>
    </f:else>
</cart:product.ifBestSpecialPriceAvailable>
<f:if condition="{product.quantityDiscounts}">
    <f:then>
        <div class="quantity_discount">
            <f:translate key="tx_cart_domain_model_product_product.quantity_discounts"/>:
            <ul>
                <f:for each="{product.quantityDiscounts}" as="quantityDiscount">
                    <li><f:translate key="tx_cart_domain_model_product_product.quantity_discount_from" arguments="{0: quantityDiscount.quantity}"/>: <cart:format.currency>{quantityDiscount.price}</cart:format.currency></li>
                </f:for>
            </ul>
        </div>
    </f:then>
</f:if>