<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>

    <f:if condition="{orderItem}">
        <div class="payment-success-message">
            <div class="alert alert-success">
                <h3><f:translate key="tx_cart.controller.order.action.payment_success.thank_you"/></h3>
                <f:translate key="tx_cart.controller.order.action.payment_success.thank_you_order_number" arguments="{1: orderItem.orderNumber}" />
            </div>
        </div>
    </f:if>
</f:section>
</html>