<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>

    <div style="padding-bottom: 20px;">
        <f:render partial="Order/Show/Properties" arguments="{orderItem: orderItem}"/>
    </div>

    <div style="padding-bottom: 20px;">
        <f:render partial="Order/Show/ServiceStatus" arguments="{orderItem: orderItem}"/>
    </div>

    <div style="padding-bottom: 20px;">
        <f:render partial="Order/Show/Cart" arguments="{orderItem: orderItem}"/>
    </div>
</f:section>