<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages renderMode="div" />

    <div class="col-sm-12 col-md-12 col-lg-12 form-columns">
        <f:if condition="{cart.products}">
            <f:then>
                <f:render partial="Cart/ProductForm" arguments="{cart:cart}"/>

                <f:render partial="Cart/CouponForm" arguments="{cart:cart}"/>

                <f:render partial="Cart/OrderForm" arguments="{_all}"/>
            </f:then>
            <f:else>
                <f:render partial="Cart/Empty"/>
            </f:else>
        </f:if>
    </div>
</f:section>