<div class="btn-group">
    <span class="btn btn-default btn-sm">
        <a href="{f:uri.action(action:'list')}">
            <span class="t3-icon t3-icon-actions t3-icon-actions-document t3-icon-document-close">&nbsp;</span>
        </a>
    </span>

    <f:if condition="{0: orderItem.orderNumber} == {0: ''}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="generateNumber" arguments="{orderItem: orderItem, numberType: 'order'}">
                <f:translate key="tx_cart.controller.order.action.generateOrderNumber"/>
            </f:link.action>
        </span>
    </f:if>
    <f:if condition="{pdfRendererInstalled}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="generatePdfDocument" arguments="{orderItem: orderItem, pdfType: 'order'}">
                <f:translate key="tx_cart.controller.order.action.generateOrderDocument"/>
            </f:link.action>
        </span>
    </f:if>
    <f:if condition="{orderItem.orderPdfs}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="downloadPdfDocument" arguments="{orderItem: orderItem, pdfType: 'order'}">
                <f:translate key="tx_cart.controller.order.action.downloadOrderDocument"/>
            </f:link.action>
        </span>
    </f:if>

    <f:if condition="{0: orderItem.invoiceNumber} == {0: ''}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="generateNumber" arguments="{orderItem: orderItem, numberType: 'invoice'}">
                <f:translate key="tx_cart.controller.order.action.generateInvoiceNumber"/>
            </f:link.action>
        </span>
    </f:if>
    <f:if condition="{pdfRendererInstalled}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="generatePdfDocument" arguments="{orderItem: orderItem, pdfType: 'invoice'}">
                <f:translate key="tx_cart.controller.order.action.generateInvoiceDocument"/>
            </f:link.action>
        </span>
    </f:if>
    <f:if condition="{orderItem.invoicePdfs}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="downloadPdfDocument" arguments="{orderItem: orderItem, pdfType: 'invoice'}">
                <f:translate key="tx_cart.controller.order.action.downloadInvoiceDocument"/>
            </f:link.action>
        </span>
    </f:if>

    <f:if condition="{0: orderItem.deliveryNumber} == {0: ''}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="generateNumber" arguments="{orderItem: orderItem, numberType: 'delivery'}">
                <f:translate key="tx_cart.controller.order.action.generateDeliveryNumber"/>
            </f:link.action>
        </span>
    </f:if>
    <f:if condition="{pdfRendererInstalled}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="generatePdfDocument" arguments="{orderItem: orderItem, pdfType: 'delivery'}">
                <f:translate key="tx_cart.controller.order.action.generateDeliveryDocument"/>
            </f:link.action>
        </span>
    </f:if>
    <f:if condition="{orderItem.deliveryPdfs}">
        <span class="btn btn-default btn-sm">
            <f:link.action action="downloadPdfDocument" arguments="{orderItem: orderItem, pdfType: 'delivery'}">
                <f:translate key="tx_cart.controller.order.action.downloadDeliveryDocument"/>
            </f:link.action>
        </span>
    </f:if>
</div>