<f:layout name="Default"/>

<f:section name="actions">
    <span class="btn btn-default btn-sm">
        <f:be.buttons.icon
                uri="{f:uri.action(action:'list')}"
                icon="actions-close"/>
    </span>

    <f:if condition="{pdfRendererInstalled}">
        <f:render partial="Order/Show/Actions" arguments="{orderItem: orderItem}"/>
    </f:if>


</f:section>

<f:section name="content">
    <f:flashMessages/>

    <div style="padding-bottom: 20px;">
        <f:render partial="Order/Show/Properties" arguments="{orderItem: orderItem}"/>
    </div>

    <div style="padding-bottom: 20px;">
        <f:render partial="Order/Show/ServiceStatus" arguments="{orderItem: orderItem}"/>
    </div>

    <div style="padding-bottom: 20px;">
        <f:render partial="Order/Show/Cart" arguments="{orderItem: orderItem}"/>
    </div>
</f:section>