<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:cart="http://typo3.org/ns/Extcode/Cart/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:be.container>
    <cart:includeFile path="../typo3conf/ext/cart/Resources/Public/Stylesheets/Backend/style.css"/>
    <div class="module-docheader">
        <div class="module-docheader-bar">
            <div class="module-docheader-bar-column-left">
                <f:be.buttons.csh/>
            </div>
            <div class="module-docheader-bar-column-right">
                <f:be.pagePath/>
                <f:be.pageInfo/>
            </div>
        </div>
        <div class="typo3-docheader-buttons">
            <div class="module-docheader-bar-column-left">
                <f:render section="actions"/>
            </div>
            <div class="module-docheader-bar-column-right">
                <span class="btn btn-sm btn-default">
                    <f:be.buttons.shortcut/>
                </span>
            </div>
        </div>
    </div>
    <div id="typo3-docbody">
        <div id="typo3-inner-docbody">
            <f:flashMessages/>
            <f:render section="content"/>
        </div>
    </div>
</f:be.container>
</html>