<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:render partial="Cart/ProductForm" arguments="{cart:cart}"/>

<f:render partial="Cart/OrderForm/ShippingMethod" arguments="{cart:cart, shippings:shippings}"/>
<f:render partial="Cart/OrderForm/PaymentMethod" arguments="{cart:cart, payments:payments}"/>
<f:render partial="Cart/OrderForm/Coupon" arguments="{cart:cart}"/>

<table id="checkout-review-table" class="checkout-review-table data-table" data-ajax-country data-ajax-currency>
    <colgroup>
        <col/>
        <col width="1"/>
        <col width="1"/>
        <col width="1"/>
    </colgroup>
    <tbody>
        <f:render partial="Cart/OrderForm/Summary" arguments="{cart:cart}"/>
    </tbody>
</table>
</html>