<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:render partial="Cart/ProductForm" arguments="{cart:cart}"/>

<f:render partial="Cart/OrderForm/ShippingMethod" arguments="{cart:cart, shippings:shippings}"/>
<f:render partial="Cart/OrderForm/PaymentMethod" arguments="{cart:cart, payments:payments}"/>
<f:render partial="Cart/OrderForm/Coupon" arguments="{cart:cart}"/>
<f:render partial="Cart/OrderForm/Summary" arguments="{cart:cart}"/>
</html>