{namespace cart=Extcode\Cart\ViewHelpers}

<div id="payment-method" class="form-block">
    <h5 class="form-title">
        <span class="num">3</span>
        <span><f:translate key="tx_cart.controller.order.action.show_cart.block-header.payment_method"/></span>
    </h5>
    <div class="form-content">
        <fieldset>
            <dl class="sp-methods">
                <f:for each="{payments}" as="payment">
                    <dt>{payment.name}</dt>
                    <dd>
                        <ul>
                            <li>
                                <f:if condition="{0: payment.id} == {0: cart.payment.id}">
                                    <f:then>
                                        <cart:format.currency>{payment.gross}</cart:format.currency>
                                    </f:then>
                                    <f:else>
                                        <label>
                                            <f:link.action action="setPayment" arguments="{paymentId:payment.id}">
                                                Versand
                                                <cart:format.currency>{payment.gross}</cart:format.currency>
                                            </f:link.action>
                                        </label>
                                    </f:else>
                                </f:if>
                            </li>
                        </ul>
                    </dd>
                </f:for>
            </dl>
        </fieldset>
    </div>
</div>