{namespace cart=Extcode\Cart\ViewHelpers}

<f:section name="withoutVariant">
    <tr class="{f:if(condition: product.quantityIsInRange, then: '', else: 'danger')}">
        <td colspan="2">
            <div class="product-name">{product.title} - {product.feVariant.value}</div>
            <p>
                <f:translate key="tx_cart_domain_model_order_product.sku.short"/>
                : {product.sku}
            </p>
        </td>
        <td style="text-align: right;">
            <cart:format.currency>{product.bestPrice}</cart:format.currency>
        </td>
        <td style="text-align: right;">
            {product.quantity}
        </td>
        <td style="text-align: right;">
            <cart:format.currency>{product.gross}</cart:format.currency>
        </td>
    </tr>
</f:section>

<f:section name="variant">
    <f:if condition="{variant.beVariants}">
        <f:then>
            <f:for each="{variant.beVariants}" as="beVariant">
                <f:render section="variant" arguments="{variant:beVariant, product:product}"/>
            </f:for>
        </f:then>
        <f:else>
            <tr>
                <td>&nbsp;</td>
                <td>
                    <div class="product-name">{variant.title}</div>
                    <p>
                        <f:translate key="tx_cart_domain_model_order_product.sku.short"/>
                        : {variant.sku}
                    </p>
                </td>
                <td style="text-align: right;">
                    <cart:format.currency>{variant.priceCalculated}</cart:format.currency>
                </td>
                <td style="text-align: right;">
                    {variant.quantity}
                </td>
                <td style="text-align: right;" class="last">
                    <cart:format.currency>{variant.gross}</cart:format.currency>
                </td>
            </tr>
        </f:else>
    </f:if>

</f:section>

<f:section name="withVariant">
    <tr>
        <td colspan="2">
            <div class="product-name">{product.title} - {product.feVariant.value}</div>
        </td>
        <td style="text-align: right;">
            &nbsp;
        </td>
        <td style="text-align: right;">
            &nbsp;
        </td>
        <td class="last">
            &nbsp;
        </td>
    </tr>

    <f:for each="{product.beVariants}" as="beVariant">
        <f:render section="variant" arguments="{variant:beVariant, product:product}"/>
    </f:for>

    <tr>
        <td colspan="2">
            &nbsp;
        </td>
        <td style="text-align: right;">
            &nbsp;
        </td>
        <td style="text-align: right;">
            {product.quantity}
        </td>
        <td class="last" style="text-align: right;">
            <cart:format.currency>{product.gross}</cart:format.currency>
        </td>
    </tr>
</f:section>

<f:for each="{products}" as="product">
    <f:if condition="{product.beVariants}">
        <f:then>
            <f:render section="withVariant" arguments="{product:product}"/>
        </f:then>
        <f:else>
            <f:render section="withoutVariant" arguments="{product:product}"/>
        </f:else>
    </f:if>
</f:for>

