{namespace cart=Extcode\Cart\ViewHelpers}

<tr class="first">
    <td colspan="4" style="text-align: right;">
        <f:translate
                key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_cart_cart.net"/>
    </td>
    <td style="text-align: right;" class="last">
        <span class="price">
            <cart:format.currency>{cart.net}</cart:format.currency>
        </span>
    </td>
</tr>
<tr>
    <td colspan="4" style="text-align: right;">
        <f:translate
                key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_cart_cart.gross"/>
    </td>
    <td style="text-align: right;" class="last">
        <span class="price">
            <cart:format.currency>{cart.gross}</cart:format.currency>
        </span>
    </td>
</tr>

<f:render partial="Mail/TaxList" arguments="{taxes: cart.taxes}"/>

<tr>
    <td colspan="4" style="text-align: right;">
        <f:translate
                key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.service_net"/>
    </td>
    <td style="text-align: right;" class="last">
        <span class="price">
            <cart:format.currency>{cart.serviceNet}</cart:format.currency>
        </span>
    </td>
</tr>
<tr>
    <td colspan="4" style="text-align: right;">
        <f:translate
                key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.service_gross"/>
    </td>
    <td style="text-align: right;" class="last">
        <span class="price">
            <cart:format.currency>{cart.serviceGross}</cart:format.currency>
        </span>
    </td>
</tr>

<f:render partial="Mail/TaxList" arguments="{taxes: cart.serviceTaxes}"/>

<f:if condition="{cart.discountGross}">
    <tr>
        <td colspan="4" style="text-align: right;">
            <f:translate key="tx_cart_domain_model_order_product.discount_net"/>
        </td>
        <td style="text-align: right;" class="last">
            <span class="price">
                <cart:format.currency>{cart.discountNet}</cart:format.currency>
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: right;">
            <f:translate key="tx_cart_domain_model_order_product.discount_gross"/>
        </td>
        <td style="text-align: right;" class="last">
            <span class="price">
                <cart:format.currency>{cart.discountGross}</cart:format.currency>
            </span>
        </td>
    </tr>

    <f:render partial="Mail/TaxList" arguments="{taxes: cart.discountTaxes}"/>
</f:if>

<tr>
    <td colspan="4" style="text-align: right;">
        <f:translate
                key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.total_net"/>
    </td>
    <td style="text-align: right;" class="last">
        <span class="price">
            <cart:format.currency>{cart.totalNet}</cart:format.currency>
        </span>
    </td>
</tr>
<tr>
    <td colspan="4" style="text-align: right;">
        <f:translate
                key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart_domain_model_order_product.total_gross"/>
    </td>
    <td style="text-align: right;" class="last">
        <span class="price">
            <cart:format.currency>{cart.totalGross}</cart:format.currency>
        </span>
    </td>
</tr>

<f:render partial="Mail/TaxList" arguments="{taxes: cart.totalTaxes}"/>