{namespace cart=Extcode\Cart\ViewHelpers}

<f:for each="{taxes}" as="tax" key="tax_class">
    <tr>
        <td colspan="4" style="text-align: right;">
            <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart.tax_class"/>
            (
            <f:translate key="LLL:EXT:cart/Resources/Private/Language/locallang.xlf:tx_cart.tax_class.{tax_class}"/>
            )
        </td>
        <td style="text-align: right;" class="last">
            <span class="price">
                <cart:format.currency>{tax}</cart:format.currency>
            </span>
        </td>
    </tr>
</f:for>