<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <div class="order-success-message">
        <div class="alert alert-success">
            <h3><f:translate key="tx_cart.controller.order.action.order_cart.thank_you"/></h3>
            <f:translate key="tx_cart.controller.order.action.order_cart.thank_you_order_number" arguments="{1: orderItem.orderNumber}" />
        </div>
    </div>
</f:section>
</html>