.cart-list {
    --color-open: #eca5a5;
    --color-pending: #ecdba5;
    --color-paid: #c1eca5;
    --color-canceled: #c9c8c8;
}

.cart-figure {
    inline-size: 12ch;
    text-align: right;
}

.cart-list :is(.order-payment-status-open, .order-shipping-status-open) {
    background-color: var(--color-open);
}

.cart-list :is(.order-payment-status-pending, .order-shipping-status-in_process) {
    background-color: var(--color-pending);
}

.cart-list :is(.order-payment-status-paid, .order-shipping-status-shipped) {
    background-color: var(--color-paid);
}

.cart-list :is(.order-payment-status-canceled, .order-shipping-status-on_hold) {
    background-color: var(--color-canceled);
}

.cart-order .table  {
    inline-size: unset;
    max-inline-size: 150ch;
}

.cart-order .properties .table th:first-child {
    padding-inline-start: 0;
}

.cart-order .properties .table tr {
    border-color: transparent;
}

.cart-order .properties .table :is(th, td) {
    vertical-align: baseline;
}

.cart-order .properties select {
    min-inline-size: 16ch;
}

.cart-order table .sum {
    border-top: 2px solid #999;
}

.cart-order .table-order td {
    padding-block: 1rem;
}