<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:flashMessages/>
    <f:asset.script identifier="prevent-multi-submit" src="EXT:cart/Resources/Public/JavaScript/prevent_multi_submit.js" />

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 column">

            <f:render partial="Cart/Confirmation/ProductList" arguments="{cart:cart}"/>

            <div class="row">
                <div class="{f:if(condition:'!{cart.shippingSameAsBilling}', then: 'col-lg-6', else: 'col-lg-12')}">
                    <f:render partial="Cart/Confirmation/Address/Billing" arguments="{billingAddress:billingAddress}"/>
                </div>
                <f:if condition="!{cart.shippingSameAsBilling}">
                    <div class="col-lg-6">
                        <f:render partial="Cart/Confirmation/Address/Shipping" arguments="{shippingAddress:shippingAddress}"/>
                    </div>
                </f:if>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <div id="checkout-step-shipping-method" class="checkout-step bg-light-grey bottom-buffer">
                        <div class="confirmation-step-title col-10" style="float: left;">
                            <span><f:translate key="tx_cart.controller.order.action.show_cart.block-header.shipping_method"/></span>
                        </div>
                        <div class="confirmation-step-title col-2 text-right" style="float: left;">
                            <f:link.action arguments="{step: 3}">
                                <f:translate key='tx_cart.editAddress' default='edit'/>
                            </f:link.action>
                        </div>
                        <div class="checkout-step-content">
                            <f:for each="{shippings}" as="shipping">
                                <f:if condition="{0: shipping.id} == {0: cart.shipping.id}">
                                        {shipping.name}
                                </f:if>
                            </f:for>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div id="checkout-step-paymant-method" class="checkout-step bg-light-grey bottom-buffer">
                        <div class="confirmation-step-title col-10" style="float: left;">
                            <span><f:translate key="tx_cart.controller.order.action.show_cart.block-header.payment_method"/></span>
                        </div>
                        <div class="confirmation-step-title col-2 text-right" style="float: left;">
                            <f:link.action arguments="{step: 3}">
                                <f:translate key='tx_cart.editAddress' default='edit'/>
                            </f:link.action>
                        </div>
                        <div class="checkout-step-content">
                            <f:for each="{payments}" as="payment">
                                <f:if condition="{0: payment.id} == {0: cart.payment.id}">
                                    {payment.name}
                                </f:if>
                            </f:for>
                        </div>
                    </div>
                </div>
            </div>

            <f:form id="form-order" class="form"
                    name="orderItem"
                    object="{orderItem}"
                    controller="Cart\Order"
                    action="create"
                    method="post">
                <f:render partial="Cart/OrderForm/Cart" arguments="{_all}"/>

                <f:if condition="{cart.isOrderable}">
                    <div class="row top-buffer">
                        <f:if condition="{previousStep}">
                            <div class="col col-6">
                                <f:link.action arguments="{step: previousStep}">
                                    <span class="btn btn-primary" title="<f:translate key='tx_cart.previousStep'/>"><f:translate key='tx_cart.previousStep' default='[previous Step]'/></span>
                                </f:link.action>
                            </div>
                        </f:if>

                        <f:if condition="{nextStep}">
                            <f:then>
                                <div class="col col-6 {f:if(condition: '!{previousStep}', then: 'offset-6')} text-right">
                                    <f:form.submit class="btn btn-primary"
                                                   value="{f:translate(key: 'tx_cart.nextStep', default: '[next Step]')}"/>
                                </div>
                            </f:then>
                            <f:else>
                                <div class="col col-6 {f:if(condition: '!{previousStep}', then: 'offset-6')} text-right">
                                    <f:form.submit class="btn btn-primary"
                                                   value="{f:translate(key: 'tx_cart.submit_order', default: '[submit order]')}"/>
                                </div>
                            </f:else>
                        </f:if>
                    </div>
                </f:if>
            </f:form>
        </div>
    </div>
</f:section>
</html>
