<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<ul class="pagination pagination-block">
    <f:if condition="{pagination.previousPageNumber} && {pagination.previousPageNumber} >= {pagination.firstPageNumber}">
        <f:then>
            <li class="waves-effect">
                <a href="{f:uri.action(action:actionName, arguments:{currentPage: 1})}" title="{f:translate(key:'pagination.first')}"  class="btn btn-link">&laquo;</a>
            </li>
            <li class="waves-effect">
                <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.previousPageNumber})}" title="{f:translate(key:'pagination.previous')}"  class="btn btn-link">&lsaquo;</a>
            </li>
        </f:then>
        <f:else>
            <li class="disabled"><a href="#" class="btn btn-link">&laquo;</a></li>
            <li class="disabled"><a href="#" class="btn btn-link">&lsaquo;</a></li>
        </f:else>
    </f:if>
    <f:for each="{pages}" as="page">
        <li class="{f:if(condition: '{page} == {paginator.currentPageNumber}', then:'active', else:'waves-effect')}">
            <a href="{f:uri.action(action:actionName, arguments:{currentPage: page})}" class="btn btn-link">{page}</a>
        </li>
    </f:for>

    <f:if condition="{pagination.nextPageNumber} && {pagination.nextPageNumber} <= {pagination.lastPageNumber}">
        <f:then>
            <li class="waves-effect">
                <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.nextPageNumber})}" title="{f:translate(key:'pagination.next')}"  class="btn btn-link">&rsaquo;</a>
            </li>
            <li class="waves-effect">
                <a href="{f:uri.action(action:actionName, arguments:{currentPage: pagination.lastPageNumber})}" title="{f:translate(key:'pagination.last')}" class="btn btn-link">&raquo;</a>
            </li>
        </f:then>
        <f:else>
            <li class="disabled"><a href="#" class="btn btn-link">&rsaquo;</a></li>
            <li class="disabled"><a href="#" class="btn btn-link">&raquo;</a></li>
        </f:else>
    </f:if>
</ul>
</html>